.App {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 200px 200px;
  align-items: center;
}

#tags{
  display: inline-block;
  margin-right: 10px;
}

.checkLabel{
  display: inline-block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
